form[name="attendance"] input[type="number"] {
	background-color: transparent;
	border: 1px solid #444;
	color: #444;
	outline: none;
	width: 3em;
	padding: 3px;
}
form[name="attendance"] tbody tr:nth-child(even) {
	background-color: #ededed;
}
form[name="attendance"] td:nth-child(5),
form[name="attendance"] td:nth-child(6),
form[name="attendance"] td:nth-child(7),
form[name="attendance"] td:nth-child(8) {
	text-align: center;
}
form[name="attendance"] .absent { background-color: #ffc0c0; }
form[name="attendance"] .timely { background-color: #c0ffc0; }
form[name="attendance"] .late { background-color: #ffffc0; }

col.lateness {
	text-align: center;
}
